@font-face {
  font-family: "LemonFriday";
  src: url("../assets/fonts/LemonFriday.woff2") format("woff2"),
    url("../assets/fonts/LemonFriday.woff") format("woff"),
    url("../assets/fonts/LemonFriday.ttf") format("truetype");
}
.wrapper {
  padding: 20px;
}
span {
  margin-left: 10px;
  font-family: "LemonFriday";
}

li {
  padding: 4px 0;
}